<style>
  .container-fluid{
    border:1px solid black;
    background-color{}
  }
  .pum{
    padding:10px;
  }
  .bs-example  div[class^="col"] {
  	border: 1px solid white;
  	background: #f5f5f5;
  	text-align: center;
  	padding-top: 8px;
  	padding-bottom: 8px;
  	}
    .img-fluid{
      width:90%;
    }
</style>
<body>
  <ul>
  <% (1..3).each do |i| %>
    <li><%= i**2 %></li>
  <% end %>
  </ul>

  <div class="container-fluid">
    <div class="row">blabalbalbalabalbalab
      <div class="pum">pum</div>
      <div class="pum">pum</div>
      <div class="pum">pum</div>
      <div class="pum">pum</div>
  </div>
  </div>
  <br />

<!-- BOOTSTRAP CONTAINER -->
<div class="bs-example">
<!-- BOOTSTRAP GRID -->
	<div class="row">
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-1"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	</div>
	<div class="row">
	  <div class="col-sm-2"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-3"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-7"><img class="img7" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	</div>
	<div class="row">
	  <div class="col-sm-4"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-4"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-4"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	</div>
	<div class="row">
	  <div class="col-sm-5"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-7"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	</div>
	<div class="row">
	  <div class="col-sm-6"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	  <div class="col-sm-6"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	</div>
	<div class="row">
	  <div class="col-sm-12"><img class="img-fluid" src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" /></div>
	</div>
<!-- FIN BOOTSTRAP GRID -->
  </div>
<!-- FIN BOOTSTRAP CONTAINER -->


<!--HEADINGS SIZE-->
  <h1 class="display-2">About (h1 .display-2)</h1>
  <h1 class="display-4">About (h1 .display4)</h1>
  <h1>About (default h1)</h1>

  <h2>Blah (default h2)</h2>
  <h3>Hu!(default h3) <small>(< small>)Hu!(< /small>)</small></h3>
<!--FIN HEADINGS SIZE-->
  <br />
  <br />
<!--PARAGRAPHS VARIS-->
  <p class="lead">Lorem fistrum papaar papaar benemeritaar mamaar por la gloria de mi madre a <abbr title="gramenawer">gram.</abbr> a peich ahorarr.</p>
  <p>No puedor condemor <mark>tiene musho peligro</mark> la caidita no puedor qué dise usteer mamaar. </p>

  <blockquote class="blockquote text-center">
    <p>Most of us are awash with beliefs of all sorts. We are steeped in the common sense and prevailing wisdom of our culture,
      traditions, communities, profession, family, and friends.</p>
    <footer>Tom Campbell in <cite>My Big Toe</cite></footer>
</blockquote>
<!--FIN PARAGRAPHS-->
<!--LISTS-->
<ul class="list-unstyled">
  <li>Uh</li>
  <li>I</li>
  <li>Uh</li>
  <li>Ah</li>
  <li>Ah</li>
</ul>

<ul class="list-inline">
  <li class="list-inline-item">Uh</li>
  <li class="list-inline-item">I</li>
  <li class="list-inline-item">Uh</li>
  <li class="list-inline-item">Ah</li>
  <li class="list-inline-item">Ah</li>
</ul>
<!--FIN LISTS-->
<!--DESCRIPTIVE LISTS-->
<dl>
  <dt>Arahat</dt>
  <dd>The "Perfected One", who has <kbd>Ctrl+A</kbd> overcome The Three Poisons of Desire, Hatred and Ignorance. </dd>
  <dt>Bodhi</dt>
  <dd>Awakened wisdom.</dd>
  <dt>Zen</dt>
  <dd>Meditative absorption in which all<code>muahaha</code> dualistic distinctions are eliminated.</dd>
</dl>
<br />

<dl class="row">
  <dt class="col-sm-2">Arahat</dt>
  <dd class="col-sm-10">The "Perfected One", who has overcome The Three Poisons of Desire, Hatred and Ignorance. </dd>
  <dt class="col-sm-2">Bodhi</dt>
  <dd class="col-sm-10">Awakened wisdom.</dd>
  <dt class="col-sm-2">Zen</dt>
  <dd class="col-sm-10">Meditative absorption in which all dualistic distinctions are eliminated.</dd>
</dl>
<!--FIN DESCRIPTIVE LISTS-->
<!--TABLES-->
<table class="table table-inverse table-hover table-responsive">
  <!--class="table table-striped"-->
  <!--class="table table-bordered"-->
  <!--class="table table-hover"-->
  <!--class="table table-sm"-->
  <thead class="thead-default">
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Footer 1</th>
      <th>Footer 2</th>
      <th>Footer 3</th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td class="table-success">Cell</td>
      <td>Cell</td>
      <td class="table-danger">Cell</td>
    </tr>
    <tr>
      <td>Cell</td>
      <td class="table-warning">Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <td class="table-active">Cell</td>
      <td>Cell</td>
      <td class="table-info">Cell</td>
    </tr>
  </tbody>
</table>
<!--FIN TABLES-->
<br />
<!--FORMS-->
<form action="/html/tags/html_form_tag_action.cfm">
  <fieldset class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name">
  </fieldset>
  <fieldset class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control form-control-lg" id="last_name" name="last_name">
  </fieldset>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br />
<form action="/html/tags/html_form_tag_action.cfm" class="form-inline">
  <label class="mr-sm-2 mb-0" for="first_name">First Name</label>
  <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="first_name" name="first_name">
  <label class="mr-sm-2 mb-0" for="last_name">Last Name</label>
  <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="last_name" name="last_name">
  <button type="submit" class="btn btn-default mt-2 mt-sm-0">Submit</button>
</form>
<!--FIN FORMS-->
<br />
<!--BUTTON-->
<button type="button" class="btn btn-primary btn-sm">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger btn-lg">Danger</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
<button type="button" class="btn btn-info btn-lg btn-block">Block level button</button>
<br />
<div class="btn-group" role="group">
<button type="button" class="btn btn-primary">Thailand</button>
<button type="button" class="btn btn-primary">Cambodia</button>
<button type="button" class="btn btn-primary">Vietnam</button>
</div>
<!--FIN BUTTON-->
<br />
<!--IMAGES-->
<div class="bs-example">
  <div class="row">
    <div class="col-sm-6">
      <img src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" class="rounded" alt="Sample image">
    </div>
    <div class="col-sm-6">
      <img src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" class="rounded-circle" alt="Sample image">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" class="img-thumbnail" alt="Sample image">
    </div>
    <div class="col-sm-6">
      <img src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" class="rounded-top" alt="Sample image">
    </div>
  </div>
</div>
<img src="https://orig09.deviantart.net/3f2e/f/2012/148/6/2/saber_avatar__3_by_spogjem-d51dhes.png" class="mx-auto d-block" alt="Sample image">
<!--FIN IMAGES-->
<!--DROPDOWN MENU-->
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About Us
  </button>
  <div class="dropdown-menu" aria-labelledby="about-us">
    <a class="dropdown-item" href="#">Our Story</a>
    <a class="dropdown-item" href="#">Our Team</a>
    <a class="dropdown-item" href="#">Contact Us</a>
  </div>
</div>
<!--FIN DROPDOWN MENU-->
<br />
<!--COLLAPSE-->
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#footwear" aria-expanded="false" aria-controls="footwear">
  Footwear
</button>
<div class="collapse" id="footwear">
  <p>Footwear refers to garments worn on the feet, which originally serves to purpose of protection against adversities of the environment, usually regarding ground textures and temperature.</p>
</div>

<br />
<!--ACCORDEON-->
<div id="faq" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="questionOne">
      <h5 class="card-title">
        <a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="true" aria-controls="answerOne">
          What if my boots are too big for my feet?
        </a>
      </h5>
    </div>
    <div id="answerOne" class="collapse show" role="tabcard" aria-labelledby="questionOne">
      <div class="card-body">
        Stuff your boots with newspaper or tissue.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="questionTwo">
      <h5 class="card-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
          Can I wear my boots inside?
        </a>
      </h5>
    </div>
    <div id="answerTwo" class="collapse" role="tabcard" aria-labelledby="questionTwo">
      <div class="card-body">
        No. Your mama should've told you about this.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="questionThree">
      <h5 class="card-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerThree" aria-expanded="true" aria-controls="answerThree">
          What if my boots get slippery when wet?
        </a>
      </h5>
    </div>
    <div id="answerThree" class="collapse in" role="tabcard" aria-labelledby="questionThree">
      <div class="card-body">
        Keep your boots dry.
      </div>
    </div>
  </div>
<!--FIN ACCORDEON-->

<!--NAV TABS-->
<ul id="clothing-nav" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Hats</a>
  </li>
  <!-- Dropdown -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Footwear
    </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#dropdown-shoes" role="tab" id="dropdown-shoes-tab" data-toggle="tab" aria-controls="dropdownShoes">Shoes</a>
    <a class="dropdown-item" href="#dropdown-boots" role="tab" id="dropdown-boots-tab" data-toggle="tab" aria-controls="dropdownBoots">Boots</a>
  </div>
  </li>
</ul>

<!-- Content Panel -->
<div id="clothing-nav-content" class="tab-content">
  <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
    <p>Welcome home! Click on the tabs to see the content change.</p>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="hats" aria-labelledby="hats-tab">
    <p>A hat is a head covering. It can be worn for protection against the elements, ceremonial reasons, religious reasons, safety, or as a fashion accessory.</p>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="dropdown-shoes" aria-labelledby="dropdown-shoes-tab">
    <p>A shoe is an item of footwear intended to protect and comfort the human foot while doing various activities. Shoes are also used as an item of decoration.</p>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="dropdown-boots" aria-labelledby="dropdown-boots-tab">
    <p>A boot is a type of footwear and a specific type of shoe. Most boots mainly cover the foot and the ankle, while some also cover some part of the lower calf. Some boots extend up the leg, sometimes as far as the knee or even the hip.</p>
  </div>
</div>
<!--FIN NAV TABS-->


</div>
<!--FIN COLLAPSE-->

</body>
