<h1>Welcome</h1>

<h2>Put some bootstrap stuff in this page to check it's working</h2>

<div class="card" style="width: 40rem;">
  <div class="card-block">
    <h4 class="card-title">I'm a card</h4>
    <p class="card-text">Click on this button to hide it <strong>for ever</strong></p>
    <button class="btn btn-primary" id="btn_sample">Hide me!</button>
  </div>
</div>
