<!-- header -->
<div id="header">

  <!-- nav -->
  <div class="bg-blue-transp pt-5 pb-5">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a href="nav-link active" href="#">CUSTOMERS AREA</a>
      </li>
      <li class="nav-item">
        <a href="nav-link active" href="#">OK RESERVE</a>
      </li>
      <li class="nav-item">
        <a href="nav-link active" href="#">RESTAURANTS AREA</a>
      </li>
    </ul>
  </div>


  <!-- restaurant search -->
  <form action="" class="form-inline">
    <div class="form-group sm-4">
      <input type="text" class="form-control" id="search-restaurant" placeholder="Name of restaurant...">
    </div>
    <button type="submit" class="btn btn-primary text-uppercase">Book it</button>
  </form>


</div><!-- / header -->

<div class="bg-blue mt-4">
  <div class="bg-yellow text-center p-4 text-white text-lg">QUALITY CUSTOMERS · GUARANTEE BOOKINGS</div>
</div>
