<!-- header -->
<div id="header">

  <!-- nav -->
  <div class="bg-blue-transp py-4-5">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <h4><a href="nav-link active" href="#">CUSTOMERS AREA</a></h4>
      </li>
      <li class="nav-item">
        <h4 class="text-white">MyTheater</h4>
      </li>
      <li class="nav-item">
        <h4><a href="nav-link active" href="#">RESTAURANTS AREA</a></h4>
      </li>
    </ul>
  </div>


  <!-- restaurant search -->
  <div id="restaurant-searcher" class="row d-flex justify-content-center">
    <div class="col-6 col-md-4 pr-0">
      <input type="text" class="form-control" placeholder="Name of restaurant...">
    </div>
    <button type="submit" class="btn btn-primary text-uppercase">Book it</button>
  </div>


</div><!-- / header -->

<!-- body -->
<div class="bg-blue mt-3">

  <!-- Golden div -->
  <div class="bg-golden text-center p-4 text-white">
    <h3 class="text-lg">QUALITY CUSTOMERS · GUARANTEE BOOKINGS</h3>
  </div>

  <!-- Restaurants grid -->
  <div class="row mt-3 mx-1 mx-md-5">

    <div class="col-12 col-md-4 restaurant-row">
      <img src="1.jpg" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">Restaurant Salsa</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="2.JPG" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">La Buonna Vitta</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="3.JPG" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">Fat Cow</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="1.jpg" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">Restaurant Salsa</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="2.JPG" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">La Buonna Vitta</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="3.JPG" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">Fat Cow</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="1.jpg" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">Restaurant Salsa</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="2.JPG" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">La Buonna Vitta</h3>
      </div>
    </div>

    <div class="col-12 col-md-4 restaurant-row">
      <img src="3.JPG" class="img-row img-fluid" alt="">
      <div class="restaurant-row-title">
        <h3 class="title">Fat Cow</h3>
      </div>
    </div>

  </div><!-- / row-->

</div><!-- / body -->
