$green:         #00FFC4;

$brand-primary: $green;
$link-color:    $green;
$body-bg:       #6891e3;

$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;

$font-family-sans-serif: "Candal", Roboto, "Helvetica Neue", Arial, sans-serif;
