// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$body-bg:   #001F3F;
$golden:    #d4af37;
$white:     #fff;
$green:     #75BE5B;
$red:       #D9594C;

$brand-primary: $body-bg;


// Fonts

$font-family-monospace:  'Honey Script';
$font-family-base: 'Quicksand'; // Provisional, Lane's substitute
$font-family-sans-serif: 'Candara';


// Buttons

$btn-primary-color:              $white;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             transparent;

$btn-secondary-color:            $body-bg;
$btn-secondary-bg:               $white;
$btn-secondary-border:           $btn-secondary-bg;

$btn-success-color:              $white;
$btn-success-bg:                 $green;
$btn-success-border:             $btn-success-bg;

$btn-danger-color:               $white;
$btn-danger-bg:                  $red;
$btn-danger-border:              $btn-danger-bg;

$btn-border-radius:              0;

// Links

$link-color:                     $white;

// Forms

$input-color-placeholder:        black;
$input-border-radius:            0;
