// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$body-bg:   #001F3F;
$golden:    #d4af37;
$white:     #fff;
$green:     #75BE5B;
$red:       #D9594C;

$theme-colors: (
  primary: #001F3F,
  secondary: grey,
  success: green,
  info: cyan,
  warning: yellow,
  danger: red,
  light: gray,
  dark: gray
);


// Fonts
$font-family-base: 'Alegreya Sans', sans-serif;

$font-size-base: 1.4rem;

// Headings
$headings-margin-bottom: 0;


// Buttons
$btn-primary-color:              $white;
$btn-primary-bg:                 theme-color("primary");
$btn-primary-border:             transparent;

$btn-secondary-color:            $body-bg;
$btn-secondary-bg:               $white;
$btn-secondary-border:           $btn-secondary-bg;

$btn-success-color:              $white;
$btn-success-bg:                 $green;
$btn-success-border:             $btn-success-bg;

$btn-danger-color:               $white;
$btn-danger-bg:                  $red;
$btn-danger-border:              $btn-danger-bg;

$btn-border-radius:              0;

// Links
$link-color:                     $white;
$link-decoration:                overline underline $golden;


// Forms
$input-color-placeholder:        black;
$input-border-color:             transparent;
$input-border-radius:            0;

$input-placeholder-color:        $body-bg;
