html, body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

#header {
  background: url('header.jpg');
  background-position: center;
  height: 50%;
  padding-bottom: 25%; // Change to media queries
}

.py-4-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.bg-blue-transp {
  background: rgba(0, 31, 63, .7);
}

#restaurant-searcher {
  padding-top: 15%;
}

.bg-golden {
  background: $golden;
}

.text-lg {
  font-size: 2.5rem;
}

.text-white {
  color: $white;
}

.img-row {
  width: 100%;
  position: relative;
}

.restaurant-row-title {
  position: relative;
  width: 100%;
  top: -50%;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
  height: 60px;
  font-family: 'Yellowtail';

  .title {
    line-height: 1.7;
    font-size: 2.2rem;
  }

}

@include media-breakpoint-down(md) {
  .text-lg {
    font-size: 2rem;
  }
}
